<div class="card-body">
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="form-label">Username</label>
        <input
          pInputText
          [(ngModel)]="user.username"
          placeholder="Enter username"
          class="w-full"
          readonly
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label class="form-label">Password</label>
        <p-password
          [(ngModel)]="user.password"
          [feedback]="false"
          placeholder="Enter password"
          styleClass="w-full"
        ></p-password>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label class="form-label">ConfirmPassword</label>
        <p-password
          [(ngModel)]="cnfmpassword"
          [feedback]="false"
          placeholder="Enter password"
          (ngModelChange)="onPasswordCheck()"
          styleClass="w-full"
        ></p-password>
        <div *ngIf="cnfpasswordError" class="error-message">
          Passwords do not match
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col-6">
        <button
            pButton
            label="Set New Password"
            class="p-button-primary w-full"
            (click)="onSubmit()"
            [disabled]="!cnfpasswordError || !user.password "
        ></button>
        </div>

</div>
