<div class="cards">
  <p-card>
    <h3>Total Patients</h3>
    <h2>{{ stats.totalPatients }}</h2>
  </p-card>

  <p-card>
    <h3>Total Doctors</h3>
    <h2>{{ stats.totalDoctors }}</h2>
  </p-card>

  <p-card>
    <h3>Appointments</h3>
    <h2>{{ stats.totalAppointments }}</h2>
  </p-card>

  <p-card>
    <h3>Departments</h3>
    <h2>{{ stats.totalDepartments }}</h2>
  </p-card>
</div>

<div class="card" style="margin-bottom:15px;">
  <div
    class="container1"
    style="
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 100%;
      overflow: visible;
    "
  >
    <div
      style="
        flex: 1 1 calc(49.33% - 20px);
        min-width: 200px;
        position: relative;
      "
    >
      <div
        style="
          display: flex;
          padding-top: 15px;
          justify-content: center;
          align-items: center;
          position: relative;
        "
      >
        <span class="headerstyle">Monthly Appointment</span>
      </div>
      <ng-container *ngIf="data.length > 0; else noChart">
        <google-chart
          [type]="doughnut"
          [data]="data"
          [options]="options"
        ></google-chart>
      </ng-container>

      <ng-template #noChart>
        <div style="text-align: center">
          📊 No data available to render the chart.
        </div>
      </ng-template>
    </div>

    <div
      style="
        flex: 1 1 calc(49.33% - 20px);
        min-width: 200px;
        position: relative;
      "
    >
      <div
        style="
          display: flex;
          padding-top: 15px;
          justify-content: center;
          align-items: center;
          position: relative;
        "
      >
        <span class="headerstyle">Doctor Statistics</span>
      </div>

      <ng-container *ngIf="doctorStats.length > 0; else noChart">
        <google-chart
          [type]="doughnut"
          [data]="doctorStats"
          [options]="options"
        ></google-chart>
      </ng-container>

      <ng-template #noChart>
        <div style="text-align: center">
          📊 No data available to render the chart.
        </div>
      </ng-template>
    </div>
  </div>
</div>

<p-card header="Recent Appointments">
  <p-table [value]="appointments">
    <ng-template pTemplate="header">
      <tr>
        <th>Patient</th>
        <th>Doctor</th>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-a>
      <tr>
        <td>{{ a.patient }}</td>
        <td>{{ a.doctor }}</td>
        <td>{{ a.date }}</td>
        <td>{{ a.status }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
